body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 450px;
  padding: 10px;
}
