body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
}

.square {
  box-sizing: border-box;
}

.button-container {
  padding-bottom: 10px;
}
